@model IEnumerable<PROJECTADM.Models.ordenesCompra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/productos_OrdenesCompra/Create" class="btn btn-danger">Agregar producto</a>
</p>
@using (Html.BeginForm("Index", "productos_Cotizaciones", FormMethod.Post))
{

    <div class="form-group pull-right">
        @Html.Label("Buscar por nombre:", htmlAttributes: new { @class = "control-label col-md-4" })

        @Html.Editor("busqueda1")
        <input type="submit" value="Buscar" class="btn btn-danger" />

        @*@Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger" })*@


    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto_total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedore.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proveedore.Nombre)
            </td>
            <td>

                @Html.ActionLink("Detalles", "Details", new { id = item.Id_Orden_compra }, new { @class = "btn btn-danger" }) |

            </td>
        </tr>
    }

</table>
<input type="submit" value="Salir" class="btn btn-danger" />