@model IEnumerable<PROJECTADM.Models.productos_OrdenesCompra>

@{
    ViewBag.Title = "Index";
}

<h2>Escoja los productos a ordenar</h2>
<br />
<p>
    <a href="/productos_OrdenesCompra/Create" class="btn btn-danger">Agregar producto</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inventario.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ordenesCompra.Monto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventario.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ordenesCompra.Monto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_producto_orden_compra }, new { @class = "btn btn-danger" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_producto_orden_compra }, new { @class = "btn btn-danger" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_producto_orden_compra }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Imprimir", "ExportFactura", "ordenesCompras", null, new { @class = "btn btn-danger" })
@Html.ActionLink("Cancelar", "IndexOrdenCompra", "Home", null, new { @class = "btn btn-danger" })